<div class="form-container">
  <h1>Editing Person</h1>

  <%= render 'form', person: @person %>

  <div class='navigation'>
    <%= link_to 'Show', @person, class: 'back-link' %>
    <%= link_to 'Back', people_path, class: 'show-link' %>
  </div>
</div>
