// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// COMMON STYLES
a {
  text-decoration: none;
}

// INDEX STYLES
.list-container {
  display: grid;
  grid-row-gap: 2em;
  max-width: 1300px;
}

.list-item {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;

  .item-sex {
    justify-self: center;
  }
}

.item-actions {
  justify-self: flex-end;

  a {
    color: black;
    border: 1px solid lightblue;
    border-radius: 20px;

    padding: 10px;
  }

}

.new-action {
  justify-self: flex-end;
}

// SHOW STYLES
.table-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1300px;

  .table-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
}

.names-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-row-gap: 1em;
  justify-items: center;
  align-items: center;
}

// FORM STYLES
.form-container {
  display: grid;
  justify-items: center;
}

.actions {
  display: grid;
  max-width: 400px;

  .button-submit {
    margin-top: 1em;
  }

  input {
    margin-bottom: 1em;
  }
}
